#sechome{
    position: relative;
    padding: 10px;
    
    width: 100%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background:#f8f697 ;
}
section .color:nth-child(2){
    top: -350px;
    right: 50px;
    width: 600px;
    height: 600px;
    background:#fbfaa1 ;
}
